.ms-WPHeader{

background-color:#004477!Important;

color:white!Important;

font-weight:bold;

}

.ms-standardheader{

background-color:#004477!Important;

border-bottom-width:1px;

border-bottom-color:#004477;

}

.quickLinksHeader{

background-color:#004477!Important;

color:white!Important;

font:inherit;

height:25px;

padding-left:8px;

padding-top:2px;

vertical-align:middle!Important;

font-variant:small-caps;

}

.footerlinks{

padding-top:15px;

padding-right:75px;

}

.footerlinks a:link { color:black;}

.footerlinks a:visited{ color:black!Important;}

.headerlinks{

color:white;

font:inherit;

padding-bottom:5px;

}

.headerlinks a:link{

color:white;

}

.headerlinks a:visited{

color:white;

}

.ms-srch-sb {

background-color:rgb(41, 82, 125);
border:none;
width:160px !important;

}
.ms-srch-sb > input {

background-color:white;
width:180px !important;

}

.form-control, .btn{

height:25px !Important;

}

.quickLinkUL{

padding-top:10px;

}

.quickLinkLi{

padding-bottom:5px;

}

#gcwu-tctr

{

float:left; margin-top:15px;

}

.ui-link-Left{

display:inline;

padding-right:10px;

}

.ui-link-Mid{

display:inline;

padding-right:10px;
vertical-align:central !important;

}

.ui-link-right{

display:inline;
float:right !important;

}

ul.lac-social-media li {
list-style-type: none;
margin: 0px;
padding: 0px 10px 0px 10px;
width: 22px;
height: 22px;
}

.equalize{

margin-left:90px;

left: 0px;

top: 0px;

}

.sitetitle1{

width:auto !Important;

margin-left:12px;

padding-top:8px;

}

.sitetitle2{

width:auto !Important;

margin-left:30px;

}

.gcwu-srchbx{

float:left;

}

.bannerSmallLinks{

margin-top:-5px;

color: white;

}

.mb-menu{




}
.mb-menu li h3
{
    font-style:normal !important;
	font-family: arial;

	
	font-weight:900;
	
	font-size:18px;
	border-right-color:white;
	border-left-color:white;
	}


.topNav{

background:#555 url(data:image/gif;base64,R0lGODlhAQAgAMQAACVlrSx30CZrtyhosC16wyxzwDh0vSJiqip2uB5doitwvShtuiFgpyZmriFhqiNjqyt3uxxboCp5xSdnryRkrCBfpCpvvB1coSxxvidsuSFgpRtanwAAAAAAAAAAAAAAACwAAAAAAQAgAAAFGqBBSAECFRimWEuWCcPUANRzOIymVckVbZsQADs=) repeat-x 0 0

}

.s4-wpcell-plain

{

padding-right:5px;

}

.wb-main{

float:right!Important;

}

div.article, div.welcome{

padding:0px!Important;

}

/*For Footer*/

.lacFooterRow

{

float:right;

}

.lacFooterCol

{

float:left;

padding-right:5px;

}

/*footer*/

.container{

background-color:transparent!Important;

}

/*Main content*/

.LacMainTop

{

float:left;

width:100%;

margin-top:25px;

}

.LacMainTopLeft

{

float:left;

width:75%; padding-right:10px;

}

.LacMainTopRight

{

float:left;

width:25%;

}

.LacMainBot

{

float:left;

width:100%;

}

.LacMainBotLeft

{

float:left;

width:75%;

padding-right:10px;

}

.LacMainBotRight

{

float:left;

width:25%;

}

.LACContentPage

{

float:left;

width:100%;

}

.LACLeftNav

{

float:left;

width:20%;

}

.LACRightContent

{

margin-left:10px;

float:left;

width:78%;

}

.LACThreeLeft

{

float:left;

width:20%;

}

.LACThreeMid

{

margin-left:10px;

float:left;

width:64%;

padding-right:5px;

padding-bottom:10px;

margin-bottom:20px;

}

.LACThreeRight

{

float: right;

width:20%;

margin-bottom:20px;

}

.LACThreeRightBox{

background-color:#f2f2f2; padding: 0px 8px 8px 8px;

}

.mrgn-tp-lg{

margin-top:225px!Important;

}

.lacButtonEn{

height:50px !Important;

}

.lacButtonFr{

height:50px !Important;

}

.btn-lg a:link{

color:white!Important;

}

.btn-lg a:visited{

color:white!Important;

}

.ms-formfieldlabelcontainer{

visibility:hidden;

}

.plypause
{
visibility:hidden !Important;
}

.footerFontClass
{
color: black !important;
}

.personLinkRow
{
width:230px;
height:205px !important;
float:right !important;
background-color: white !important;
color:white !important;
margin-left: 20px;
padding : 0px 10px 0px 20px !important;


background-image:url('/Lists/LACPortalLink/new_collaboration_portal.jpg');
background-size:258px 205px;
background-repeat: no-repeat;
background-position:center !important;

}

.webLinkRow
{
width:102%;
height:60px;
float:left;
background-color:#003366;
color:white !important;
margin-top:10px;
margin-left:-20px;
padding : 7px 10px 0px 10px !important;
}
.phoneLinkRow
{
width:102%;
color:white !important;
height:60px;
float:left;
background-color:#003366;
margin-top:10px;
margin-left:-20px;
padding : 5px 10px 0px 10px !important;
}
.notepadLinkRow
{
width:102%;
height:60px;
float:left;
color:white !important;
background-color:#003366;
margin-top:10px;
margin-left:-20px;
padding : 5px 10px 0px 10px !important;
}
.sideImageLinksBottomClear
{
padding-bottom: 10px;
}

.paddingLeft{
padding-left:300px !important;
}
.toprightlinks
{
padding-bottom:5px !important;
}

.ms-mpSearchBox{
width: 300px !important;
}

.wet-srch{
float: left !important;
padding-top: 6px !important;
margin: 2px !important;
padding-right: 12px !important;

}
#wet-srch-submit{
margin-right: 2px !important;
height: 30px !important;
margin-top: -1px !important;

}

#ctl00_PlaceHolderSearchArea_SmallSearchInputBoxCustom_csr_SearchLink
{
float:right !important;
}

.wet-srchbx-in
{width: 100% !important;
height:32px !important;
padding-top:25px;
}

.ms-srch-sb > input
{
padding: 0px 10px 10px 14px !important;
}
.toprightlinks{

margin-left: -10px
}

.ms-rteTable-default tr:first-of-type {
background-color:#176ca7 !important;
color: white !important;
border:1px solid #114f7a !important;
}
.ms-rteTable-default tr
{
color: black;
border:1px solid #114f7a !important;
}
.ms-rteTable-default tr td
{
border:1px solid #114f7a !important;
}

.span-6 .imgCustomclass {
width: 100% !important;
height:270px !important;
}
.SMIconTitleRow
{
width:92%;
height:30px;
float:left;
background-color: white !important;
color:white !important;
margin-left: 10px;
padding : 0px 2px 5px 10px !important;
}
.SMIconLinkRow
{
width:95%;
height:30px;
float:left;
background-color:white !important;
margin-left: 0px;
padding : 0px 0px 15px 10px !important;
}
.GEDSTitleRow
{
width:85%;
float:left;
background-color: white !important;
color:white !important;
margin-left: 10px;
padding : 0px 2px 5px 10px !important;
}
.gedsrow
{
margin-left:30px;
padding : 0px 0px 0px 0px !important;

}

#gcwu-bnr-in{
    background:none !important;
    
    background-color:transparent !important;
    background-image:url('_layouts\WET.Theme.Intranet\WET-BOEW\theme-gcwu-intranet\images\gcwu-bnr-in.jpg' );
    height:90px !important;
    width:1200px !important;
    clear:both;

    
}
#gcwu-bnr{
    background-color:rgb(41, 82, 125) !important;
    background-image:url('../../_layouts/15/images/MasterPages/gcwu-bnr-in.jpg');
    background-position:center;
    background-repeat:no-repeat;
    height:90px !important;
    z-index:55;
}

.gedsGrid
{
    width: 250px !important;
    display:inline;
    z-index: 1;

}

.gedsbutton{
    width: 110px;
    margin:0 auto;

}
.gedsDataCol
{
    width:150px;
    height:110px !important;
    display:inline;
    float:left;
    padding-left:20px;

}
.gedsButtonCol{
    width:80px;
    height: 110px;
    float:right;
    display:inline;
    
}


.lac-title-logo
{
    
    padding-left:0px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:0px !important;
    height: 52px;
}


.ms-rtestate-field h3 
{
	
	text-decoration: none !important;
		border-bottom: 0px transparent none !important;
		margin-bottom:0px !important;
}
.ms-rtestate-field h4 
{
	
	text-decoration: none !important;
		border-bottom: 0px transparent none !important;
		margin-bottom:0px !important;
}
.ms-rtestate-field h5 
{
	
	text-decoration: none !important;
		border-bottom: 0px transparent none !important;
		margin-bottom:0px !important;
}
.ms-rtestate-field h6 
{
	
	text-decoration: none !important;
		border-bottom: 0px transparent none !important;
		margin-bottom:0px !important;
}

#gcwu-title-in{
display:inline-flex!important;    
vertical-align:middle;
height:62px;
}
#gcwu-title{
    display:inline-flex !important; 
    vertical-align:middle;  
    padding-top:25px; 
}
#gcwu-title-in a
{
	
	display:inline-flex !important;
	vertical-align:middle;
	height:62px;
}

.SystemStatusTitleRow
{
width:85%;
float:left;
background-color: white !important;
color:white !important;
margin-left: 10px;
padding : 0px 2px 5px 10px !important;
}
.SystemStatusGrid
{
    width: 250px !important;
    z-index: 1;
    margin-left: 30px;

}

.GedsUpdate
{
	width:95%;
	margin-left: 20px;
	float:left;
	color:blue;
	font-weight:200 ;
	background:#003366;
	padding : 0px 2px 5px 10px !important;

	
}
.GedsUpdate > a
{
	float:left;
	font-weight:normal;
	color:white !important;

}
#eti
{
    width:1200px;
    height:150px;
    background-color:transparent !important;
    background-image:url('C:\Program Files\Common Files\microsoft shared\Web Server Extensions\15\TEMPLATE\LAYOUTS\WET.Theme.Intranet\WET-BOEW\theme-gcwu-intranet\images\eti-en.jpg' );
    margin:auto;
}


#eti
{
    width:1198px;
    height:150px;
    background-color:transparent !important;
    background-image:url('' );
    margin:auto;
   border-left:1px;
   border-left-color:silver ;
   border-left-style:solid;
   border-right:1px;
   border-right-color:silver ;
   border-right-style:solid;

   border-bottom: 5px;
   border-bottom-color:#555;
   border-bottom-style:solid;
   padding-bottom:5px;

}
.EtiLinkClass
{
	display:block;
	position:relative;
	background-image: url('/style library/images/eti-fr.jpg');
    background-repeat: no-repeat;
    background-position: center;

    width: 1190px; /* put a non-zero width value here */
    height:145px;
}



#rssFeedWPDiv_ctl00_ctl72_g_74019191_b2a3_4dc8_a72f_b5560601aba0
{
	margin-left:50px !important;
	padding-top:-20px;
	border:0px transparent none;

	

}
.ms-webpart-chrome ms-webpart-chrome-vertical {
	width:500px !important;
}
#WebPartWPQ2 > table th, table td
{
	border: 0 transparent none;
}

.FEED
{
	
width:85%;
float:left;
background-color: white !important;
color:white !important;
margin-left: 10px;
padding : 0px 2px 5px 10px !important;


}
.NewsFeedTitle
{
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NmNhNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzNTg4OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') !important;
    background-position:center;
    background-repeat:repeat-x;
    width:87%;
    float:right;
    background-color:#176ca7;
    background: linear-gradient(#176ca7, #135888);
 
    
    color:white !important;
    vertical-align:middle;
    
    font-size: 15px !important;
    text-shadow: 0 1px 1px #222 ;
	font-weight:700 !important;
	
	font-family:Verdana !important;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	border-bottom:0px solid #d4d4d4;
	padding: 3px 7px;
	margin-bottom:	0px !important;
	
	line-height:18px;
	font-weight:700;
	border-spacing:0px;
	

    
    z-index:55;
}
.NewsFeedTitle > a
{
	font-family:Verdana !important;
	color:white !important;
	text-shadow: 0 1px 1px #222 ;
	text-decoration:none;

}
#Feeder
{
	list-style-type:none;
	padding:0;
	width:100% !important;
	font-size:1em !important;
	font-family:Verdana;
	border-spacing:0;
	border-collapse:collapse;
	margin-right:10px;
	width:87%;
}
.NewsFeed
{
overflow:hidden;
height:193px !important;
font-size:1em !important;
padding: 24px 6px;
border: solid 1px #cccccc;
background: #ebebeb;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px; 
z-index:77;
float: right;	
width:87%;
display:	table;
}
.NewsFeedItem
{
border-spacing:0;
border-collapse:collapse;
font-size:1em;
margin-left:-20px;
width:90%;

	
}
.NewsFeedItem > a
{
	color:navy;
}

.NewsFeedDate
{
	padding: 0 0 0 0;
	margin-top:-6px;
	color:#993399;
	margin-left:-20px;
	width:90%;

}


