.mb-menu { z-index: 10; }  /* Fix for SP Ribbon To Go Over Menu */
 
#gcwu-bnr
{
    z-index: 11 !important;
}

.wet-boew-menubar
{
    z-index: 10 !important;
}
		
/* fix scrolling on list pages */
#s4-bodyContainer {
    position: relative;
}        

/* hide body scrolling (SharePoint will handle) */
body {
    height:100%;
	width:100%;
    font-size: 80% !important;
    color: black !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}       
				
/* popout breadcrumb menu needs background color for firefox */
.s4-breadcrumb-menu {
    background:#F2F2F2;
}
        		
/* body area normally has a white background */
.s4-ca {
    background:transparent none repeat scroll 0 0;
	/* margin-left:155px; */
}

/*Search Box Styles*/
/* fix the spacing around the search image - reduces to 1px blue line on either side */
#gcwu-srchbx A
{
    padding-right: 1px !important;
    padding-left: 1px !important;
}

.adminBar .ms-sbrow a, .ms-sbcell {
    margin:0; padding:0;
}
        
#searchBoxOuter {
    padding-top: 0px !important;
    padding-right:0 !important; 
    margin: 0 !important;
    border-style: none !important;
    float: right;
}

.s4-search INPUT.ms-sbplain {
    color:#444;
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    margin:0 !important;
    width:218px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background:#fff;
    padding:1px 0;
}
        
input.s4-searchbox-QueryPrompt {
    font-size:13px !important; 
}        
        
.srch-gosearchimg
{
    height: auto !important;
    margin-left: 3px;
}

        .ms-sbplain
        {
            display: inline;
            padding: 0;
            height: 21px;
            vertical-align:top;
        }

        .ms-WPHeaderTd {
            border:0px !important;
        }

        .ms-wpTdSpace {
            border:0px !important;
            background-color:transparent !important;
        }

        .ms-WPHeaderTdMenu {
            border:0px !important;
        }

        .s4-wpTopTable{
            margin-bottom:0px !important;
            width:100% !important;
        }

        .s4-wpTopTable table{
            width:100% !important;
        }

        .s4-wpTopTable td{
            border:0px !important;
            padding-left:0px !important;
            padding-right:0px !important;
            padding-top:0px !important;
            padding-bottom:0px !important;
        }

        .s4-wpcell-plain {
            border:0px !important;
            padding-left:0px !important;
            padding-right:0px !important;
            padding-top:0px !important;
            padding-bottom:0px !important;
        }

        H1 {
            margin-top:0px !important;
            margin-left:10px !important;
            margin-right:10px !important;
            border-bottom-color:#333 !important;
            border-bottom-style:solid !important;
            border-bottom-width:1px !important;
            color:#333 !important;
            font-size:1.8em !important;
            font-family:sans-serif !important;
        }

        H2 {
            color:#555 !important;
            border:0px !important;
            font-family:sans-serif !important;
            font-size:155% !important;
            font-weight:700 !important;
            line-height:150% !important;
            margin-right:10px !important;
        }

        .span-6 img
        {
            width:auto !important;
        }

        .span-2 img {
            width:auto !important;
        }

        .s4-wpcell {
            width:720px;
            border:0px !important;
        }        

        .ms-WPBody table {
            margin-bottom:0px !important;
        }
        
        .ms-siteactionsmenu
        {
            line-height:normal !important;
        }

        #ctl00_PlaceHolderMain_WikiField {
            width:720px;
        }

        .ms-rteTable-0 td{
            border:0px !important;
            line-height:normal !important;
            padding-top:0px !important;
            padding-bottom:0px !important;
            padding-left:0px !important;
            padding-right:0px !important;
        }

        .ms-emptyView {
            margin-bottom:0px !important;
        }

        .ms-vh2{
            padding-bottom:0px !important;
            padding-top:0px !important;
        }

        .ms-vh{
            padding-bottom:0px !important;
            padding-top:0px !important;
        }

        .ms-vh-icon{
            padding-bottom:0px !important;
            padding-top:0px !important;
            border:0px !important;
        }

        #wb-main a:link {
            color:#295376 !important;
            text-decoration:underline !important;
        }

        #wb-main a:visited {
            color:#5a306b !important;
            text-decoration:underline !important;
        }


.ms-linksectionheader {
    line-height:normal !important;
}

.ms-authoringcontrols td{
    border:0px !important;
}

.ms-viewlsts td{
	border:0px !important;
}

.ms-vh2-nofilter{
	border:0px !important;
}

.ms-viewlsts tr{
	border-right:1px solid #B5BDC7 !important;
	border-left:1px solid #B5BDC7 !important;
}

.ms-gb{
	padding-top:0px !important;
}

.ms-linksection-level1 td
{
	border:0px !important;
}

.ms-linksection-level1 h3
{
	border:0px !important;
}

#ctl00_PlaceHolderMain_ctl01_SettingLinksV4 td
{
	border:0px !important;
}

.ms-pageinformation th
{
	background-color:#FFFFFF !important;
	border:0px !important;
	padding-top:0px !important;
}

.ms-pageinformation td
{
	background-color:#FFFFFF !important;
	border:0px !important;
	padding-top:0px !important;
}


.ms-1pxfont
{
	border:0px !important;
	line-height:normal !important;
	padding-bottom:0px !important;
	padding-top:0px !important;
}

.ms-descriptiontext
{
	border:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.ms-propertysheet
{
	border:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.ms-listeditnav table
{
	margin-bottom:0px !important;	
}

.ms-listeditnav td
{
	border:0px !important;
}

.ms-settingsframe td
{
	border:0px !important;
}

.ms-ButtonHeightWidth
{
	display:inline !important;
}

.ms-v4propertysheetspacing td
{
	border:0px !important;
}

.ms-authoringcontrols img
{
	padding-top:0px !important;
	padding-bottom:0px !important;
	margin-bottom:0px !important;
}

.ms-authoringcontrols
{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height:normal;
	vertical-align:middle !important;
}

.ms-authoringcontrols label
{
	display:inline !important;
}

.ms-authoringcontrols table,td,select
{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height:normal;
}

.ie7 #gcwu-bnr {
    float: none !important;
}

.ie7 #gcwu-title-in {
    position: relative !important;
}

.ie7 .mb-menu {
    position: absolute !important;
}

#cn-body-inner-1col
{
    background: url('/_layouts/WET.Theme.GCWU/WET-BOEW/theme-gcwu-fegc/images/header-bg-ie.jpg') repeat-x center 3.1em white !important;
    overflow: visible !important;
}

#cn-body-inner-2col
{
    background: url('/_layouts/WET.Theme.GCWU/WET-BOEW/theme-gcwu-fegc/images/header-bg-ie.jpg') repeat-x center 3.1em white !important;
    overflow: visible !important;
}

.ms-vb {
    border:0px !important;
    background-color:rgb(238, 238, 238) !important;
}

.s4-specialNavLinkList {
    display:none;
}

.ms-areaseparatorleft {
    display:none !important;
}

#ctl00_PlaceHolderSearchArea_ctl01_txtSearch {
    display:inline;
}

#ctl00_PlaceHolderSearchArea_ctl01_btnSearch {
    display:inline;
}

.wet-boew-zebra td {
    line-height:1.5em;
    padding:8px !important;
    border-color:#ccc !important;
    border-style:solid !important;
    border-width:1px !important;
}

#wb-main-in td 
{
    border-style: none;
}

.ms-wpheadermenuimg {
    width:auto;
}

.ms-alternating {
    background-color:transparent !important;
}

.ms-itmhover:hover {
    line-height:normal !important;
}

.ms-bottompagingline1 {
    background-color:rgb(238, 238, 238) !important;
}

.ms-bottompagingline2 {
    background-color:rgb(238, 238, 238) !important;
}

.ms-vh2-nofilter-icon {
    border:0px !important;
}

.ms-vh2-nograd {
    border:0px !important;
}

.ms-viewselector {
    background-color:transparent !important;
}

.ms-toolbar {
    vertical-align:middle !important;
    height:30px !important;
}

.ms-menubuttoninactivehover {
    margin-bottom:0px !important;
    margin-top:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
}
.ms-splitbuttontext {
    height:30px !important;
}

#gcwu-ef-lang{
    text-decoration:none !important;
}

.dfwp-list {
    margin-left:0px !important;
}

#wb-skip1 a:link {
    text-align:center !important;
}

#wb-skip2 a:link {
    text-align:center !important;
}

INPUT[type='submit'] {
    display:inline;
}