.tabs-start
{
    height: 13px !important;
    width: 35px !important;
}

.tabs-stop
{
    height: 13px !important;
    width: 35px !important;
}

.swpTabsPanel
{
    width: auto !important;
    min-height: 0px !important;
    background-image: none !important;
    background-color: transparent !important;
    border-style: none !important;
    font-size: 80% !important;
}

.swpTabsPanel div
{
    min-height: 0px !important;
}

.swpTabsList
{
    padding-right: 10px !important;
    left: auto !important;
    width: 33% !important;
}

.swpTabsLink
{
    border-bottom: #ccc 1px dotted !important;
}

.swpTabsLink.active
{
    background: url('/_layouts/LAC.SharePoint.Slider/arrow.png') no-repeat 10px 50% !important;
    padding-left: 30px !important; 
    font-weight: bold !important; 
    -webkit-border-radius: 0 !important; 
    -moz-border-radius: 0 !important;
}

.swpTabs
{
    border-style: none;
}

.swpTabs a:hover, a:focus
{
    background-color: #ddd !important;
}

.swpTabs li.active
{
    background-color: transparent !important;
}

