p.ms-rteStyle-indentedp{
    -ms-name:"Idented Paragraph";
}

.ms-rteStyle-indentedp {
    margin-left:25px !important;
}

#wb-sec-in a.nav-current
{
	border:0px !important;
	background-color:rgb(221, 221, 221) !important;
}

.ms-cui-modalDiv-ie,.ms-cui-glass-ie
 {
 background-color:transparent !important;
 }

#GlobalBreadCrumbNavPopout-anchor img
{
	margin-left:0px !important;
	margin-right:0px !important;
}

.ms-viewselector-arrow img
{
	margin-left:0px !important;
	margin-right:0px !important;
}

.wb-mm-overlay img
{
	display:inline-block !important;
}

.ms-cui-ctl-small
{
	min-width:5% !important;
}

.ms-WPBody { overflow: hidden !important; }
#cn-centre-col .SPSlideShow a:link, #cn-centre-col .SPSlideShow a:visited { text-decoration: none; }
/* Show Hide Function classes KT 2012-07-13 */
a.showhidelink, a.showhidelink:link, a.showhidelink:visited, a.showhidelink:hover, a.showhidelink:active {text-decoration: underline; color: #000 !important; background-color: #fff !important; cursor: pointer;}
a[href].showhidelink, a[href].showhidelink:link, a[href].showhidelink:visited, a[href].showhidelink:hover, a[href].showhidelink:active {text-decoration: underline; color: #000 !important; background-color: #fff !important; cursor: pointer;}
div.showhidetext {margin: 1em auto;}
div.showhidewrapper {margin: 0 auto;}
hr.exhibition-seperator {height:1px; border-width:0; color:gray; background-color:gray; margin-bottom:15px; clear: left;}
/* SlideShow */
.PortraitGallery_ItemDisplay.SPSlideShow .tabs li a { color: #fff !important; }
.PortraitGallery_ItemDisplay.SPSlideShow .tabs li a.active,
.PortraitGallery_ItemDisplay.SPSlideShow .tabs li.tabs-toggle a { color: #000 !important; }
/* What's New */
.PortraitGallery_WhatsNew .link-item .description { margin-top: 6px; }
.PortraitGallery_WhatsNew .link-item a:link,
.PortraitGallery_WhatsNew .link-item a:visited { color: #000; font-size: 12px; }
/* Search Styles */
.PortraitGallery_Search_Index div.searchFor div.form { padding: 0; margin: 0; background: none; }
.PortraitGallery_Search_Index div.searchFor div.form input.SearchText { width: 550px; padding: 3px 5px !important; margin-right: 10px; font-size: 1.3em; border-radius: 0; -webkit-border-radius: 0; box-shadow: none; -webkit-box-shadow: none; border: #aaa 1px solid; background: none; }
.PortraitGallery_Search_Index div.searchFor div.form input[type="submit"] { height: 30px !important; margin-top: 5px !important; }
.PortraitGallery_Search_Advanced div.searchFor div.form { padding: 0; margin: 0 0 10px 0; background: none; }
.PortraitGallery_Search_Advanced div.searchFor div.form .SearchFieldLabel,
.PortraitGallery_Search_Advanced div.searchFor div.form .SearchLabel { color: inherit; }
.PortraitGallery_Search_Advanced div.searchFor div.form input.SearchText,
.PortraitGallery_Search_Advanced div.searchFor div.form input.SearchTextShort { padding: 3px 5px !important; margin-right: 10px; border-radius: 0; -webkit-border-radius: 0; box-shadow: none; -webkit-box-shadow: none; border: #aaa 1px solid; background: none; }
.PortraitGallery_Search_Advanced div.searchFor div.form input[type="submit"] { height: 25px !important; }
div.PortraitGallery_ThumbListResultRedirect DIV.view-results-options { background-color: transparent; }

/* RGBB Styles */
.RGBB_Payment_Page { padding: 3px 10px 3px 10px; }
.RGBB_Payment_Page th { background-color: black !important; color: white !important; border: 0px !important; }
.RGBB_Payment_Page td { padding: 3px; color: black; text-align: center; }
.RGBB_Payment_Page div.orderID { text-align : left; font-size: large; font-weight: bold; }
.RGBB_Payment_Page td.withBorder { border-RIGHT: 1px solid #000000; border-TOP: 1px solid #000000; border-LEFT: 1px solid #000000; border-BOTTOM: 1px solid #000000; }
.RGBB_Payment_Page td.withBorderAndTotal { background-color:silver; border-right : 1px solid #000000; border-TOP: 1px solid #000000; border-LEFT: 1px solid #000000; border-BOTTOM: 1px solid #000000; }
.RGBB_Payment_Page td.grandTotal { padding: 5px 5px 2px 5px; color: black; background-color : aqua; font-size: larger; font-weight: bold; border-right: 1px solid #000000; border-TOP: 1px solid #000000; border-LEFT: 1px solid #000000; border-BOTTOM: 1px solid #000000; }
.RGBB_Payment_Page h2 { text-align: left !important; }
.RGBB_Payment_Page h3 { text-align: left !important; }
a.rgbbLink, a.rgbbLink:link, a.rgbbLink:visited, a.rgbbLink:hover, a.rgbbLink:active, a.rgbbLink:focus { font-size: large; color: black !important; text-decoration: none; }

/* Home News */
.NewsList_Item .NewsList_Item_Thumbnail { float:left; width:100px; }
.NewsList_Item .NewsList_Item_Thumbnail img { max-width:100px; }
.NewsList_Item .NewsList_Item_Link { margin-left:110px; }
.NewsList_Item .ms-rteElement-Hr { clear:both; }

/* Left menu on the home page styles */
div.cn-left-col-wp section h3 a {font-size: 120% !important;-moz-text-decoration-line: none !important; text-decoration: none !important; color:#000 !important;}
div.cn-left-col-wp section h3 {background-attachment: scroll;background-clip: border-box;background-color: #DDDDDD;background-image: none;background-origin: padding-box;background-position: 0 0;background-repeat: repeat;background-size: auto auto;font-weight: 700 !important;padding-bottom: 2px;padding-left: 4px;padding-right: 4px;padding-top: 2px; margin-top:2px;font-size: 100%;color:#333333;display: block;}
div.cn-left-col-wp section ul li a {text-decoration: none !important;text-decoration-style: solid !important;padding-bottom: 4px;padding-left: 5px;padding-right: 5px;padding-top: 4px;color: #333333 !important;display: block;font-size: 1.1em;}
div.cn-left-col-wp section h3 a:hover, div.cn-left-col-wp section ul li a:hover {text-decoration: underline !important;}
div.cn-left-col-wp ul {list-style-type: none;margin-bottom: 6px;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;}
div.cn-left-col-wp section ul ul li a {border-left:1px solid #CCCCCC;}
div.cn-left-col-wp section ul ul {margin-left:10px !important; padding-left:5px !important;}



/* Temporarily hide the 'Additional resources' section on the search results page when no results are found */
#CSR_NO_RESULTS h3, #CSR_NO_RESULTS ul { display: none; }
#CSR_NO_RESULTS p + h3, #CSR_NO_RESULTS p + h3 + ul { display: block; }

/* Temporarily fix the font color in the output of the Content Query Web Part */
.ms-WPBody .cbq-layout-main { color: #000; }
.ms-WPBody .cbq-layout-main h1, 
.ms-WPBody .cbq-layout-main h2, 
.ms-WPBody .cbq-layout-main h3, 
.ms-WPBody .cbq-layout-main h4, 
.ms-WPBody .cbq-layout-main h5, 
.ms-WPBody .cbq-layout-main h6 
{ font-size: 140% !important; }

.SPSlideShow { font-size: 90%; }

/* Temporarily fix the list left margins */
.span-1 .ms-rtestate-field ul,.span-2 .ms-rtestate-field ul,.span-3 .ms-rtestate-field ul,.span-4 .ms-rtestate-field ul,.span-5 .ms-rtestate-field ul,.span-6 .ms-rtestate-field ul,.span-7 .ms-rtestate-field ul,.span-8 .ms-rtestate-field ul,.span-9 .ms-rtestate-field ul,.span-10 .ms-rtestate-field ul,.span-11 .ms-rtestate-field ul,.span-12 .ms-rtestate-field ul,.span-1 .ms-rtestate-field ol,.span-2 .ms-rtestate-field ol,.span-3 .ms-rtestate-field ol,.span-4 .ms-rtestate-field ol,.span-5 .ms-rtestate-field ol,.span-6 .ms-rtestate-field ol,.span-7 .ms-rtestate-field ol,.span-8 .ms-rtestate-field ol,.span-9 .ms-rtestate-field ol,.span-10 .ms-rtestate-field ol,.span-11 .ms-rtestate-field ol,.span-12 .ms-rtestate-field ol,.span-1 .ms-rtestate-field dl,.span-2 .ms-rtestate-field dl,.span-3 .ms-rtestate-field dl,.span-4 .ms-rtestate-field dl,.span-5 .ms-rtestate-field dl,.span-6 .ms-rtestate-field dl,.span-7 .ms-rtestate-field dl,.span-8 .ms-rtestate-field dl,.span-9 .ms-rtestate-field dl,.span-10 .ms-rtestate-field dl,.span-11 .ms-rtestate-field dl,.span-12 .ms-rtestate-field dl{margin:5px 5px 10px 40px;padding:0;}
/* exception for content query web parts */
ul.dfwp-list { margin:0 !important; }

.StatusTable img
{
	width:300px !important;
}

#wb-main A:visited
{
	color:#5a306b !important;
}

.form INPUT[type='submit']
{
	display: inline !important;
}

.mejs-poster
{
	width:700px !important;
	height:393px !important;
}
.mejs-layer
{
	width:700px !important;
	height:393px !important;
}


.ms-vh-div img
{
	width:20px !important;
	height:20px !important;
}

.ms-vh2 img
{
	width:7px !important;
	height:7px !important;
}

.ms-bottompaging img
{
	width:20px !important;
	height:20px !important;
}

.s4-ctx a
{
	width:20px !important;
	height:20px !important;
}

#Ribbon.Link.Link.Properties.LinkAddressLabel-Medium
{
    min-width:15% !important;
}